@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

$font-default: "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;

$color-primary: #00AAFF;
$color-secondary: #FF8B00;
$color-danger: #f55753;
$color-warning: #f8d053;
$color-success: #10cfbd;
$color-info: #48b0f7;

$color-background: #f3f3f4;
$color-gray: #7c7e80;
$color-gray-light: #d2d2d2;
$color-white: #fff;

$color-page-header-bg: $color-primary;
$color-page-header-text: #fff;

$web-theme-vars: (
  ) !default;

$web-theme-vars: map-merge(("font-default": $font-default,
      "color-primary": $color-primary,
      "color-secondary": $color-secondary,
      "color-danger": $color-danger,
      "color-warning": $color-warning,
      "color-success": $color-success,
      "color-info": $color-info,
      "color-background": $color-background,
      "color-gray": $color-gray,
      "color-gray-light": $color-gray-light,
      "color-white": $color-white,
      "color-page-header-bg": $color-page-header-bg,
      "color-page-header-text": $color-page-header-text,
    ),
    $web-theme-vars
);

$theme-colors: (
  "primary": web-theme("color-primary"),
  "secondary": web-theme("color-secondary"),
  "success": web-theme("color-success"),
  "danger": web-theme("color-danger"),
  "warning": web-theme("color-warning"),
  "info": web-theme("color-info"),
  "light": web-theme("color-gray-light"),
);

* {
  font-family: web-theme("font-default");
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0 none !important;
  color: web-theme("color-gray");
  background-color: #f3f3f4 !important;
}

@import "bootstrap/scss/bootstrap.scss";